body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #007bff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: 
    linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1)), url('fundo.png(2)');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}